<%= form_with(url: login_path, id: 'sessions-new-form') do |form| %>

    <div class="form-group">
        <label>Username</label>
        <%= form.text_field :username, value: @session.username, class: 'form-control' %>
        <% unless @session.errors[:username].empty? %>
            <small class="form-text text-danger">Username <%= @session.errors[:username][0] %></small>
        <% end %>
    </div>

    <div class="form-group">
        <label>Password</label>
        <%= form.password_field :password, value: @session.password, class: 'form-control' %>
        <% unless @session.errors[:password].empty? %>
            <small class="form-text text-danger">Password <%= @session.errors[:password][0] %></small>
        <% end %>
    </div>
    
    <div class="form-group">
        <%= form.submit 'Login', class: 'btn btn-primary' %>
        <div>
            <small>Don't have an account? <a class="link" href="/signup">Signup!</a></small>
        </div>
    </div>
<% end %>