<template>
  <div class="home container">
    Stream
    <button v-on:click="click">Click</button>
  </div>
</template>

<script>
import * as ajax from '../utils/ajax'

export default {
  name: 'home',
  data() {
    return {
    }
  },
  computed: {
  },
  methods: {
    click: function() {
      console.log('before')
      this.$store.commit('test')
      console.log('after')
    }
  }
}
</script>

<style scoped>

</style>
