<template>
  <div class="login container">
    <div key="step1" v-if="!passwordSent">
      <form v-on:submit="login">
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" v-model="email" />
          </div>
        </div>
        <button class="button is-primary">Next</button>
      </form>
    </div>
    <div key="step2" v-if="passwordSent">
      <form v-on:submit="authenticate">
        <div class="field">
          <label class="label">Token</label>
          <div class="control">
            <input class="input" type="text" v-model="token" />
          </div>
        </div>
        <button class="button is-primary">Authenticate</button>
      </form>
    </div>
  </div>
</template>

<script>
import * as ajax from '../utils/ajax'

export default {
  name: 'login',
  data() {
    return {
      email: '',
      token: '',
      passwordSent: false,
    }
  },
  computed: {
  },
  methods: {
    login: function(e) {
      e.preventDefault()
      ajax.post('/api/users/login', {
        email: this.email
      }, (status_code) => {
        if (status_code == 200) {
          this.passwordSent = true
        } else {
          // todo
        }
      })
    },
    authenticate: function(e) {
      e.preventDefault()
      ajax.post('/api/users/authenticate', {
        email: this.email,
        token: this.token,
      }, (status_code, data) => {
        if (status_code == 200) {
          localStorage.setItem('token', data.token)
          this.$store.commit('setToken', data.token)
          this.$router.push('/')
        } else {
          // todo
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
