<template>
  <div class="main">
    <nav class="navbar has-shadow">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            Home
          </a>
          <div class="navbar-item">
            <div class="file">
              <label class="file-label">
                <input class="file-input" type="file" name="resume" v-on:change="upload" multiple>
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Upload
                  </span>
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <router-view></router-view>
  </div>
</template>

<script>
import * as ajax from '../utils/ajax'

export default {
  name: 'main',
  data() {
    return {
    }
  },
  computed: {
  },
  methods: {
    upload: function(e) {
      for (var i = 0; i < e.target.files.length; i++) {
        console.log(e.target.files[i])
        this.$store.dispatch('addFile', e.target.files[i])
      }
    }
  }
}
</script>

<style scoped>

</style>
