<%= form_with(url: groups_path, id: 'groups-new-form') do |form| %>

    <div class="form-group">
        <label>Name</label>
        <%= form.text_field :subject, value: @group.subject  %>
        <% unless @group.errors[:subject].empty? %>
            <div class="input-error">Name <%= @group.errors[:subject][0] %></div>
        <% end %>
    </div>

    <div class="form-group">
        <label>Members</label>
        <div class="select-wrap" style="position: relative;">
            <input type="text" class="select-input" style="width: 100%;">
            <div class="select-dropdown" style="display: none;">
                <div class="select-item">Stavros</div>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <%= form.submit 'Create', class: 'primary' %>
    </div>
<% end %>
