<div class="content">
    <div class="main">
        <div class="content">
            <div class="left">
            </div>
            <div class="center">
                <div class="box">
                    <div class="box-header">Create a new group</div>
                    <%= render "form" %>
                </div>
            </div>
            <div class="right">
            </div>
        </div>
    </div>
</div>
