<%= form_with(model: @user, url: :signup, id: 'users-new-form') do |form| %>

  <div class="form-group">
     <%= form.label :username do %>
      Choose a username<span class="required">*</span>
    <% end %>
    <%= form.text_field :username, value: @user.username, class: 'form-control' %>
    <% unless @user.errors[:username].empty? %>
      <small class="form-text text-danger">Username <%= @user.errors[:username][0] %></small>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :password do %>
      Choose a password<span class="required">*</span>
    <% end %>
    <%= form.password_field :password, class: 'form-control' %>
    <% unless @user.errors[:password].empty? %>
      <small class="form-text text-danger">Password <%= @user.errors[:password][0] %></small>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :email do %>
      Enter you email <small>(optional)</small>
    <% end %>
    <%= form.text_field :email, value: @user.email, class: 'form-control' %>
    <% unless @user.errors[:email].empty? %>
      <small class="form-text text-danger">Email <%= @user.errors[:email][0] %></small>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.submit 'Register', data: { "disable-with": "Register" }, class: 'btn btn-primary' %>
    <div>
      <small>Already have an account? <a class="link" href="/login">Login!</a></small>
    </div>
  </div>
<% end %>
