<%= form_with(model: @user, url: :signup, id: 'users-new-form') do |form| %>
    <div class="form-group">
        <%= form.label "Username" %>
        <input type="text" name="username" >
        <div class="input-error">"{this.state.errors.username}"</div>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="name">
        <div class="input-error">"{this.state.errors.name}"</div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" >
        <div class="input-error">"{this.state.errors.email}"</div>
    </div>
    <div class="form-group">
        <button class="{`primary${this.state.submitting ? ' loading' : ''}`}">Update</button>
        <div class="input-error">"{this.state.errors.other}"</div>
    </div>
<% end %>