<div class="content">
    <div class="left"></div>
    <div class="center">
        <div class="box">
            <div class="box-header">Profile</div>
            <div style="{styles.headerSection}">
                <div style="{styles.photo}">
                    <div class="post-image" style="{styles.image}">
                        <img src="/photos/102">
                    </div>
                    <form>
                        <div class="form-group uploader-wrap">
                            <input class="file uploader-input" type="file" id="file">
                            <label class="button for-file uploader-button" for="file">
                                <span>Update photo</span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <%= render 'profile' %>
        </div>
    </div>
    <div class="right"></div>
</div>