<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Signup</h3>
                    <%= render "form" %>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
