<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="min-height: 600px; padding: 0">
                <div style="fontSize: 18; fontWeight: 200; text-align: center; margin: 12px">
                    Groups
                </div>
                <div style="display: flex; flex-direction: column; margin: 12px">
                    <button class="btn btn-primary" onClick="{this.onClickCreateGroup.bind(this)}">Create</button>
                </div>
                <div style="margin: 24px 0">
                    <%# {this.state.groups.map(g => (
                        <Link to={`/groups/${g.id}`} component="div" key={g.id} style={styles.groupButtonStyles[g.id == groupId ? 'active' : 'inactive']}>
                            {g.name}
                        </Link>
                    ))} %>
                </div>
            </div>
        </div>
        <div class="col-7">
            <%# {center} %>
            <div class="card">
                <div class="card-body">
                    <%= link_to "New Group", new_group_path %>
                    <%= link_to "Edit Profile", edit_user_path(current_user) %>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>