<div class="modal-background"></div>
<div class="modal-content box">
    <div style="{styles.avatarDiv}">
        <img class="image" src="https://media.istockphoto.com/photos/bikes-at-googleplex-google-headquarters-picture-id675079800?s=2048x2048">
        <div style="{styles.avatarEditButtons}" >
            <input type="range" min="1" max="{this.state.maxZoom}" step="0.01" value="{this.state.scale}" >
            <span class="icon-button">
                <i class="fas fa-undo-alt"></i>
            </span>
            <span class="icon-button" >
                <i class="fas fa-redo-alt"></i>
            </span>
        </div>
        <div style="{styles.avatarActionButtons}">
            <button class="primary">Apply</button>
            <button>Cancel</button>
        </div>
    </div>
</div>
