// //@import '~normalize.css/normalize.css';
// //@import '../css/fontawesome-all.min.css';
// @-webkit-keyframes spinAround {
//     from {
//         -webkit-transform: rotate(0deg);
//         transform: rotate(0deg);
//     }
//     to {
//         -webkit-transform: rotate(359deg);
//         transform: rotate(359deg);
//     }
// }
// @keyframes spinAround {
//     from {
//         -webkit-transform: rotate(0deg);
//         transform: rotate(0deg);
//     }
//     to {
//         -webkit-transform: rotate(359deg);
//         transform: rotate(359deg);
//     }
// }

// $nav-background: #333333;
// $nav-background-hover: #333333;
// $nav-foreground: #ffffff;
// $nav-foreground-hover: #b8b8b8;

// $post-background: #fefefe;
// $post-border: #959FB8;

// $main: #000000;
// $main3: #333333;
// $main6: #666666;
// $main9: #999999;
// $mainC: #cccccc;
// $mainF: #ffffff;

// $primary: #0E7FDC;
// $primary-light: #3395e4;
// $primary-light2: #5DA6E3;
// $primary-dark: #2A3B67;

// $success: #43895B;
// $success-light: #6EA982;
// $success-dark: #26703F;

// $danger: #AA3939;
// $danger-light: #D46A6A;
// $danger-light2: #FFAAAA;
// $danger-dark: #801515;

// $muted: #F0F0F0;

// html,
// body,
// #root {
//     height: 100%;
//     margin: 0;
//     padding: 0;
// }

// html {
//     -moz-osx-font-smoothing: grayscale;
//     -webkit-font-smoothing: antialiased;
// }
// html {
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
// }

// * {
//     -webkit-box-sizing: inherit;
//     box-sizing: inherit;
// }

// *:before, *:after {
//     -webkit-box-sizing: inherit;
//     box-sizing: inherit;
// }

// body,
// button,
// input,
// select,
// textarea {
//     font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
//     outline: none;
//     box-shadow: none;
// }

// body {
//     color: #333;
//     background-color: #f6f6f6;
// }

// nav {
//     background: $nav-background;
//     color: $nav-foreground;
//     min-height: 40px;
// }

// img {
//     display: block;
//     max-height: 100%;
//     max-width: 100%;
// }

// textarea {
//     font-size: 16px;
//     border: 1px solid $primary-light2;
//     resize: none;
//     width: 100%;
//     padding: 12px 12px;
// }


// textarea.no-border {
//     border: 0px;
// }

// input:not([type="file"]) {
//     font-size: 16px;
//     border-radius: 3px;
//     line-height: 2em;
//     padding: 0 .5em;
// }

// input:not([type="file"]):not([type="range"]) {
//         border: 1px solid $primary-light2;
// }

// input:not([type="file"]):not([type="range"]):focus, input:not([type="file"]):not([type="range"]):hover {
//     border: 1px solid $primary-light;
// }

// .button, button, input[type="submit"] {
//     border: 1px solid $primary-light;
//     //background-color: $muted;
//     border-radius: 3px;
//     font-size: 14px;
//     padding: 6px 12px;
//     cursor: pointer;
//     position: relative;
// }

// .button:disabled, button:disabled, input[type="submit"]:disabled {
//     pointer-events: none;
// }

// .button:not(:last-of-type), button:not(:last-of-type), input[type="submit"]:not(:last-of-type) {
//     margin-right: 12px;
// }

// .button:not(:last-of-type), button:not(:last-of-type), input[type="submit"]:hover {
//     border-color: $primary;
// }

// .button:active, button:active, input[type="submit"]:active {
//     border-color: $primary-light2;
// }

// a {
//     color: inherit;
//     text-decoration: inherit;
// }

// a:visited {
//     color: inherit;
// }

// .link {
//     color: #1111CC;
//     text-decoration: none;
//     cursor: pointer;
// }

// .page {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
// }

// .container {
//     max-width: 1200px;
//     margin: auto;
//     width: 100%;
//     height: 100%;
// }

// .navbar {
//     @extend .container;
//     display: flex;
//     align-items: center;
//     height: 40px;
// }

// .navbar-brand {
//     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//     font-size: 20px;
//     font-weight: 700;
//     padding: 0 12px;
//     cursor: pointer;
// }

// .navbar-main {
//     height: 100%;
//     display: flex;
//     flex-grow: 1;
// }

// .navbar-right {
//     @extend .navbar-main;
//     flex-grow: 0;
// }

// .navbar-item {
//     height: 100%;
//     display: flex;
//     align-items: center;
//     padding: 0 12px;
//     cursor: pointer;
//     text-decoration: unset;
//     font-size: 14px;
//     font-weight: bold;
// }

// .navbar-item:visited {
//     color: unset;
// }

// .navbar-badge {
//     @extend .navbar-item;
//     font-size: 20px;
// }

// .navbar-item:hover, .navbar-item.active {
//     background-color: $nav-background-hover;
//     color: $nav-foreground-hover;
// }

// .dropdown {
//     position: relative;
// }

// .dropdown > ul {
//     position: absolute;
//     display: none;
//     list-style-type: none;
//     border: 1px solid $main9;
// }

// .dropdown > ul > li {
//     padding: 12px;
//     font-weight: normal;
//     white-space: nowrap;
// }

// .dropdown > ul > li:hover {
//     background-color: #f0f0f0;
// }

// .dropdown:hover > ul {
//     display: block;
//     top: 100%;
//     left: 0;
//     right: auto;
//     background-color: #fefefe;
//     color: $main;
//     margin: 0;
//     padding: 0;
// }

// .main {
//     flex-grow: 1;
//     width: 100%;
//     background-image: url('../images/dust_scratches.png');
//     // overflow: scroll;
// }

// .icon {
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
//     display: -webkit-inline-box;
//     display: -ms-inline-flexbox;
//     display: inline-flex;
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     justify-content: center;
// }

// .icon:not(:last-child) {
//     margin-right: .5em;
// }

// .content {
//     @extend .container;
//     display: flex;
// }

// .left {
//     flex-grow: 1;
//     min-height: 100%;
// }

// .center {
//     min-height: 100%;
//     display: block; 
//     margin: 0 12px;
//     width: 600px;
// }

// .right {
//     flex-grow: 1;
//     min-height: 100%;
// }

// .post {
//     margin: 12px 0;
//     width: 600px;
//     display: flex;
//     background: $post-background;
//     border: 1px solid $post-border;
//     border-radius: 3px;
// }

// .post-image {
//     align-items: center;
//     max-width: 100%;
//     max-height: 480px;
// }

// .post-main {
//     margin: 12px 12px 12px 0;
//     display: flex;
//     flex-direction: column;
//     word-wrap: break-word;
//     overflow-wrap: break-word;
//     width: 516px;
// }

// .post-user-photo {
//     height: 48px;
//     width: 60px;
//     margin: 12px 0px 12px 12px;
//     flex-shrink: 0;
// }

// .post-signature {
//     font-size: 10px;
//     margin: 0 0 6px 0;
// }

// .post-user-name {
//     font-weight: bold;
//     color: #364464;
// }

// // .post-content {
// // }

// .post-content-edit {
//     margin-bottom: 12px;
// }

// .post-content-edit:not(:first-child) {
//     margin-top: 12px;
// }

// .post-message {
//     font-size: 16px;
//     margin-top: 0px;
// }

// // .post-actions {
// // }

// .post-action {
//     color: #C3C9D8;
//     font-size: 20px;
//     cursor: pointer;
// }

// .post-action:hover {
//     color: #44557E;
// }

// .post-action:not(:last-child) {
//     margin-right: .5em;
// }

// .post-textarea {
//     width: 100%;
//     height: 100%;
//     resize: none;
// }

// .file {
//     width: 0;
//     height: 0;
//     border: none;
//     overflow: hidden;
// }

// @mixin color($standard, $light, $light2) {
//     background-color: $light;
//     color: #fefefe;
//     border: 1px solid $light;
//     box-shadow: 1px 1px 1px 1px #f8f8f8;
// }

// @mixin color-hover($standard, $light, $light2) {
//     background-color: $standard;
//     color: #fefefe;
//     border: 1px solid $standard;
//     box-shadow: 2px 2px 1px 1px #f8f8f8;
// }

// @mixin color-active($standad, $light, $light2) {
//     background-color: $light2;
//     color: #fefefe;
//     border: 1px solid $light2;
//     box-shadow: none;
// }

// @mixin color-disabled($standad, $light, $light2) {
//     background-color: $light2;
//     color: #fefefe;
//     pointer-events: none;
//     border: 1px solid $light2;
// }

// @mixin color-loading($standad, $light, $light2) {
//     background-color: transparent;
//     color: transparent;
//     border: 1px solid $light;
//     position: relative;
//     pointer-events: none;
// }

// .primary {
//     @include color($primary, $primary-light, $primary-light2)
// }

// .primary:hover {
//     @include color-hover($primary, $primary-light, $primary-light2)
// }

// .primary:active {
//     @include color-active($primary, $primary-light, $primary-light2)
// }

// .primary.disabled, .primary.disabled:hover, .primary.disabled:active {
//     @include color-disabled($primary, $primary-light, $primary-light2)
// }

// .primary.loading, .primary.loading:hover, .primary.loading:active, .primary.loading:disabled {
//     @include color-loading($primary, $primary-light, $primary-light2)
// }

// .danger {
//     @include color($danger, $danger-light, $danger-light2)
// }

// .danger:hover {
//     @include color-hover($danger, $danger-light, $danger-light2)
// }

// .danger:active {
//     @include color-active($danger, $danger-light, $danger-light2)
// }

// .danger.disabled, .danger.disabled:hover, .danger.disabled:active {
//     @include color-disabled($danger, $danger-light, $danger-light2)
// }

// .danger.loading, .danger.loading:hover, .danger.loading:active, .danger.loading:disabled {
//     @include color-loading($danger, $danger-light, $danger-light2)
// }

// .icon-button {
//     color: $primary-light;
//     cursor: pointer;
//     position: relative;
// }

// .icon-button:not(:last-child) {
//     margin-right: .5rem;
// }

// .icon-button:hover {
//     color: $primary;
// }

// .icon-button:active {
//     color: $primary-light2;
// }

// .icon-button.disabled {
//     color: $primary-light2;
// }

// .icon-button:active.disabled {
//     color: $primary-light2;
// }

// .icon-button:hover.disabled {
//     color: $primary-light2;
// }

// .loading, .loading:hover, .loading:disabled {
//     color: transparent;
//     background-color: transparent;
//     pointer-events: none;
// }

// .loading:after {
//     -webkit-animation: spinAround 500ms infinite linear;
//     animation: spinAround 500ms infinite linear;
//     border: 2px solid #dbdbdb;
//     border-radius: 10000px;
//     border-right-color: transparent;
//     border-top-color: transparent;
//     content: "";
//     display: block;
//     height: 1em;
//     width: 1em;
//     position: absolute;
//     left: calc(50% - (1em / 2));
//     top: calc(50% - (1em / 2));
// }

// // .connections {
// //     //background: #fefefe;
// // }

// .connection {
//     background: #fefefe;
//     display: flex;
//     padding: 12px;
//     margin: 12px 0;
//     align-items: center;
//     border-radius: 3px;
//     border: 1px solid $post-border;
// }

// // .connection:hover {
// //     //background-color: #f8f8f8;
// // }

// .connection-photo {
//     height: 48px;
//     width: 48px;
// }

// .connection-details {
//     margin-left: 12px;
//     flex-grow: 1;
// }

// // .connection-buttons {
// // }

// .connection-username {
//     margin: 0;
//     font-weight: bold;
// }

// .connection-name {
//     margin: 0;
//     font-size: 12px;
// }

// .box {
//     margin: 12px 0;
//     padding: 12px;
//     //width: 600px;
//     background: $post-background;
//     border: 1px solid $post-border;
//     border-radius: 3px;
// }

// .box-header {
//     padding: 0px 0 12px 0;
//     font-size: 26px;
//     font-weight: 400;
//     color: #333;
// }

// // Forms

// form {
//     width: 100%;
// }

// .form-group:not(:last-of-type) {
//     margin-bottom: 12px;
// }

// .form-group > label {
//     display: block;
//     margin-bottom: 6px;
//     font-size: 14px;
//     font-weight: 600;
// }

// .form-group > label.for-file {
//     display: inline-block;
//     position: relative;
// }

// .form-group > input:not([type="submit"]):not([type="file"]) {
//     width: 100%;
// }

// .input-error {
//     font-size: 13px;
//     color: $danger;
// }

// .modal {
//     bottom: 0;
//     left: 0;
//     position: absolute;
//     right: 0;
//     top: 0;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     justify-content: center;
//     overflow: hidden;
//     position: fixed;
//     z-index: 40;
// }

// .modal-background {
//     bottom: 0;
//     left: 0;
//     position: absolute;
//     right: 0;
//     top: 0;
//     background-color: rgba(10, 10, 10, 0.86);
// }

// .modal-content,
// .modal-card {
//     margin: 0 20px;
//     max-height: calc(100vh - 160px);
//     overflow: auto;
//     position: relative;
//     width: 100%;
//     max-width: 600px;
// }

// /// Select
// .select-wrap {
//     position: relative;
// }

// .select-dropdown {
//     position: absolute;
//     width: 100%;
//      z-index: 1;
//     border: 1px solid #6B799B;
//     background-color: white;
// }

// .select-item {
//     padding: 12px;
//     cursor: pointer;
// }

// .select-item.active {
//     background-color: $primary;
//     color: white;
// }
