<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Crop photo</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div>
              <img class="image" style="max-width: 400px" src="">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="apply" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="cancel" class="btn btn-primary">Apply</button>
        </div>
      </div>
    </div>
  </div>