
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <div class="container">
    <a class="navbar-brand" href="/">Rinthine</a>
    <% if logged_in? %>
      <div class="navbar-nav mr-auto">
        <%# <a class="nav-item nav-link" href="/">
          <span class="icon"><i class="fas fa-rss"></i></span>
          <span>Feed</span>
        </a>
        <a class="nav-item nav-link" href="/connections">
          <span class="icon"><i class="fas fa-exchange-alt"></i></span>
          <span>Connections</span>
        </a> %>
      </div>
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" href="">@Stavros</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/profile">Profile </a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</nav>