<!DOCTYPE html>
<html>
  <head>
    <title>Rinthine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar'%>
    <div style="margin-top: 12px">
      <%= yield %>
    </div>
  </body>
</html>
